@{
    ViewBag.Title = "Book Status";
}

<h3>@ViewBag.Message</h3>

<div>
    <table id="bookList">
        <thead>
        <tr>
            <th>Book Title</th>
            <th>Person Name</th>
            <th>Hire Date</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script language="JavaScript" type="text/javascript" src="~/Scripts/books/bookStatus.js"></script>
}